<h1>Perfil del usuario</h1>
<div>
    <ul>
        <li>Nombre: {{usuario.firstName}}</li>
        <li>Apellido: {{usuario.lastName}}</li>
        <li>Email: {{usuario.email}}</li>
        <li>Edad: {{usuario.age}}</li>
        <li>Id cart: {{usuario.cart}}</li>
        <li>Role: {{usuario.role}}</li>
    </ul>
</div>